/* GLOBAL */

html {
    font-family: arial, sans-serif;
    font-size: 16px;
}

body {
    height: auto;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.mobile-only {
    display: none;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .desktop-only {
        display:none !important;
    }
    
    .mobile-only {
        display: flex;
    }
} /* mobile css */

/* HEADER */
header {
    height: 64px;
    margin: 0 24px;
}

.header-wrapper .desktop-only {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-wrapper .mobile-only {
    justify-content:center;
}

/* school name and logo */
.school {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.school a {
    text-decoration: none;
}

.schoolName {
    line-height: 2rem;
}

.schoolNameBold {
    font-weight: bold;
    color: black;
}

.schoolNameLight {
    color: #9B9B9B;
    font-weight: 300;
}

/* navigation */
.menu {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: flex-end;
}

.menu ul {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    flex: 1 0 auto;
    padding: 0 8px;
}

.menu ul li:first-child {
    padding-left: 0px;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .menu ul li:first-child {
        margin-left: 24px;
    }
    
    .menu ul li:last-child {
        margin-right: 24px;
    }
}

/* nav menu spacing in jeopardy; dump menu item css */
@media only screen and (max-width: 673px) {
    li.lg-desktop-only {
        display: none;
    }
} /* tablet css */

.menu ul li a, 
.menu ul li img {
    color: black;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.menu ul li a:hover{
    background-color: lightgray;
}

/* footer */

