/* GLOBAL */

html {
    font-family: arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 960px;
}

.mobile-only {
    display: none;
}

/* HEADER */
header {
    height: 64px;
    margin: 0 24px;
}
header {
    padding: 0 24px;

}

.header-wrapper .desktop-only {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* school name and logo */
.school {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.schoolName {
/*    height: 2rem; */
    line-height: 2rem;
}

.schoolNameBold {
    font-weight: bold;
}
.schoolNameLight {
    color: #9B9B9B;
    font-weight: 300;
}

/* navigation */
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.menu ul li {
    padding: 0 8px;
    flex: 1 0 auto;
}

.menu ul li:first-child {
    padding-left: 0px;
}

/* nav menu spacing in jeopardy; dump menu item css */
@media only screen and (max-width: 673px) {
    li.lg-desktop-only {
        display: none;
    }
} /* mobile css */

.menu ul li a, 
.menu ul li img {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.menu ul li a:hover{
    background-color: lightgray;
}


/* footer */


/* mobile specific css */
@media only screen and (max-width: 450px) {
    .desktop-only {
        display:none !important;
    }
    
    .mobile-only {
        display: block;
    }
} /* mobile css */