/**** GLOBAL ****/

html {
    font-family: arial, sans-serif;
    font-size: 16px;
}

body {
    height: auto;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


/* mobile specific css */
@media only screen and (max-width: 450px) {
    h1 {
        margin: 0;
        padding-bottom: 2rem;
    }
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.mobile-only {
    display: none;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .desktop-only {
        display:none !important;
    }
    
    .mobile-only {
        display: flex;
    }
} /* mobile css */

/**** HEADER ****/
header {
    height: 64px;
    margin: 0 1.5rem;
}

header .desktop-only {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .mobile-only {
    justify-content:center;
}

/* school name and logo */
.school {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.schoolName {
    line-height: 2rem;
}

.schoolNameBold {
    font-weight: bold;
    color: inherit;
}

.schoolNameLight {
    color: #9B9B9B;
    font-weight: 100;
}

/* navigation */
header nav {
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: flex-end;
}

header nav ul {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    flex: 1 0 auto;
    padding: 0 8px;
}

header nav ul li:first-child {
    padding-left: 0px;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    header nav ul li:first-child {
        margin-left: 24px;
    }
    
    header nav ul li:last-child {
        margin-right: 24px;
    }
}

/* nav menu spacing in jeopardy; dump menu item css */
@media only screen and (max-width: 673px) {
    li.lg-desktop-only {
        display: none;
    }
} /* tablet css */

header nav ul li a, 
header nav ul li img {
    color: inherit;
    display: block;
    padding: 10px;
}

header nav ul li a:hover{
    background-color: #ff5602;
    color: white;
    border-radius: 6px;
}

/*** MAIN ***/
main {
    border: 1px solid #4A4A4A;
}

/**** SECTION 1 ****/
#section-1 {
    display: flex;
    background-color:  #D8D8D8;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    #section-1 {
        flex-direction: column;
    }
}

.section-1-banner {
    padding: 2rem 1.5rem;
    flex-basis: 60%;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-1-banner {
        padding: 0;
        width: 100%;
    }
}

.section-1-banner img {
    max-width: 100%;
}

.section-1-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-1-content {
        padding: 2rem 1rem;
        width: 100%;
    }
}

.section-1-content p {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.section-1-content a {
    background-color: #4A4A4A;
    color: white;
    padding: 0.5rem;
    text-align: center;
    border-radius: 6px;
}

.section-1-content a:hover {
    background-color: #ff5602;
    color: /*#4A4A4A*/ white;
}

/**** SECTION 2 ****/
#section-2 {
    display: flex;
    flex-direction: row;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    #section-2 {
        flex-direction: column;
    }
}

.section-2-main {
    padding: 2rem 1.5rem;
    flex-basis: 60%;
    border-right: 1px solid lightgrey;
}

.section-2-main img {
    padding-bottom: 2rem;
    max-width: 100%;
}

.section-2-main  h2 {
        margin: 0;
        padding-bottom: 1.5rem;
}

.section-2-main p {
     font-style: italic;
    font-size: 0.95rem;
}

.section-2-main address {
    font-size: 0.75rem;
    padding: 2.5rem 0 0 0;
     font-style: italic;
}

.section-2-main address a {
     color: inherit;
}

.section-2-main address a:hover {
    background-color: #ff5602;
    color: white;
    border-radius: 6px;
}   

.section-2-subs {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-2-subs {
        padding: 1rem;
        flex-basis:100%;
    }
}


.section-2-subs article {
    border-top: 1px dotted lightgrey;
    border-bottom: 1px dotted lightgrey;
}

.section-2-subs article:first-child {
    border-top: 0;
}

.section-2-subs article:last-child {
    background-color:  #D8D8D8;
    border:0;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-2-subs article:last-child {
        background-color:  inherit;
    }

    .section-2-subs article {
        border: 0;
    }

}

.section-2-sub-article {
    display: flex;
    flex-direction: row;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-2-sub-article {
        flex-direction: column;
        padding-bottom: 3rem;
    }
}

.section-2-sub-img {
    flex-basis: 35%;
    padding: 1rem;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-2-sub-img {
        padding: 0;
        width: 100%;
    }
}

.section-2-sub-img img {
    max-width: 100%;
}

.section-2-sub-content {
    flex-basis: 65%;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-2-sub-content {
        flex-basis: 100%;
        padding: 0 1rem;
    }
}

.section-2-sub-content a {
    color: #37b6ee;
    font-weight: bold;
}

.section-2-sub-content a:hover {
    background-color: #ff5602;
    color: white;
    border-radius: 0.375rem;
}

.section-2-sub-content p {
    font-size: 0.8rem;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* mobile specific css */
@media only screen and (max-width: 450px) {
    .section-2-sub-content p {
        font-size: 1.25rem;
    }
}
/**** SECTION 3 ****/

/**** SECTION 4 ****/

/**** FOOTER ****/

